addons:
  sonarcloud:
    organization: "incountry"

language: node_js
node_js:
  - 11

install:
  - npm install
  - if [[ ($TRAVIS_BRANCH == "master") && ($TRAVIS_EVENT_TYPE == "cron") ]]; then npm install -g snyk; fi

script:
  - if [[ ($TRAVIS_BRANCH == "master") && ($TRAVIS_EVENT_TYPE == "cron") ]]; then snyk monitor --org=incountry; fi
  - npm run validate-eslint
  - npm run test
  - sonar-scanner
